:root{
    --c-main: rgb(3, 199, 3);
    --pm-sm: 5px;
    --pm-md: 10px;
    --pm-lg: 20px;
    --pm-xl: 40px;
    --s-sm: 50px;
    --s-md: 100px;
    --s-lg: 200px;
    --s-xl: 400px;
}

@font-face {        
    font-family: roboto-light;
    src: url(./fonts/Roboto-Light.ttf);
}
@font-face {        
    font-family: roboto;
    src: url(./fonts/Roboto-Regular.ttf);
} 
@font-face {        
    font-family: roboto-thin;
    src: url(./fonts/Roboto-Thin.ttf);
} 

.blue{border: 1px solid blue}
.red{border: 1px solid red}
.green{border: 1px solid green}
.greenX{border: 4px solid green}

*{
    font-family: roboto;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-style: normal;
    font-weight: normal;
}

h1{
    font-size: 60px;
    font-family: roboto-thin;
}
h1, h2, h3, h4, h5, h6{
    color: var(--c-main);
}

.lbl-light{font-family: roboto-light}
.lbl-thin{font-family: roboto-thin}

.full-size{
    position: absolute;
    width: 100%;
    height: 100%;
}

.fill-parent{
    width: 100%;
    height: 100%;
}

.d-flex{display: flex;}
.jc-center{justify-content: center;}
.jc-end{justify-content: flex-end;}
.ai-center{align-items: center;}

.fd-column{flex-direction: column;}

input[type="text"]{
    border: 0px solid black;
    border-bottom: 1px solid black;
}

.m-l-sm{margin-left: var(--pm-sm)}
.m-l-md{margin-left: var(--pm-md)}
.m-l-lg{margin-left: var(--pm-lg)}
.m-l-xl{margin-left: var(--pm-xl)}

.m-r-sm{margin-right: var(--pm-sm)}
.m-r-md{margin-right: var(--pm-md)}
.m-r-lg{margin-right: var(--pm-lg)}
.m-r-xl{margin-right: var(--pm-xl)}

.m-b-sm{margin-bottom: var(--pm-sm)}
.m-b-md{margin-bottom: var(--pm-md)}
.m-b-lg{margin-bottom: var(--pm-lg)}
.m-b-xl{margin-bottom: var(--pm-xl)}


.m-none{margin: 0;}
.p-none{padding: 0;}
