:root{
    --c-main: rgb(3, 199, 3);
    --c-second: #393939;
    --pm-sm: 5px;
    --pm-md: 10px;
    --pm-lg: 20px;
    --pm-xl: 40px;
    --s-sm: 50px;
    --s-md: 100px;
    --s-lg: 200px;
    --s-xl: 400px;
    --s-xx: 700px;
    --f-sm: 20px;
    --f-md: 30px;
    --f-lg: 40px;
    --f-xl: 60px;
}

@font-face {        
    font-family: roboto-light;
    src: url(./fonts/Roboto-Light.ttf);
}
@font-face {        
    font-family: roboto;
    src: url(./fonts/Roboto-Regular.ttf);
} 
@font-face {        
    font-family: roboto-thin;
    src: url(./fonts/Roboto-Thin.ttf);
} 

.blue{border: 1px solid blue}
.red{border: 1px solid red}
.green{border: 1px solid green}
.greenX{border: 4px solid green}

*{
    font-family: roboto;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-style: normal;
    font-weight: normal;
}

i{font-family: material-icons;}

.no-select, i{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

h1{
    font-size: 60px;
    font-family: roboto-thin;
}
h1, h2, h3, h4, h5, h6{
    color: var(--c-main);
}

.font-sm{font-size: var(--f-sm);}
.font-md{font-size: var(--f-md);}
.font-lg{font-size: var(--f-lg);}
.font-xl{font-size: var(--f-xl);}

.lbl-center{text-align: center;}

.lbl-light{
    font-family: roboto-light;
    color: var(--c-main);
}
.lbl-thin{
    font-family: roboto-thin;
    color: var(--c-main);
}

.color-1{color: var(--c-main)}
.color-2{color: var(--c-second)}

.full-size{
    position: absolute;
    width: 100%;
    height: 100%;
}

.fill-parent{
    width: 100%;
    height: 100%;
}

.fill-h{width: 100%;}
.fill-v{height: 100%;}

.w-rel-60{width: 60%;}
.w-rel-70{width: 70%;}
.w-rel-80{width: 80%;}
.w-rel-90{width: 90%;}

.w-sm{width: var(--s-sm)}
.w-md{width: var(--s-md)}
.w-lg{width: var(--s-lg)}
.w-xl{width: var(--s-xl)}
.w-xx{width: var(--s-xx)}

.back-trans{background-color: transparent;}

.d-flex{display: flex;}
.jc-center{justify-content: center;}
.jc-end{justify-content: flex-end;}
.jc-space-around{justify-content: space-around;}
.ai-center{align-items: center;}
.f-center{
    align-items: center;
    justify-content: center;
}
.f-nowrap{flex-wrap: nowrap;}
.fd-column{flex-direction: column;}

.box{
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.prop-2{flex-grow: 2;}
.prop-3{flex-grow: 3;}
.prop-4{flex-grow: 4;}
.prop-5{flex-grow: 5;}

.box-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
}

input[type="text"]{
    border: 0px solid black;
    border-bottom: 1px solid black;
}

.m-none{margin: 0;}
.p-none{padding: 0;}
.pm-none{margin: 0; padding: 0}

.m-l-sm{margin-left: var(--pm-sm)}
.m-l-md{margin-left: var(--pm-md)}
.m-l-lg{margin-left: var(--pm-lg)}
.m-l-xl{margin-left: var(--pm-xl)}

.m-r-sm{margin-right: var(--pm-sm)}
.m-r-md{margin-right: var(--pm-md)}
.m-r-lg{margin-right: var(--pm-lg)}
.m-r-xl{margin-right: var(--pm-xl)}

.m-b-sm{margin-bottom: var(--pm-sm)}
.m-b-md{margin-bottom: var(--pm-md)}
.m-b-lg{margin-bottom: var(--pm-lg)}
.m-b-xl{margin-bottom: var(--pm-xl)}

.m-t-sm{margin-top: var(--pm-sm)}
.m-t-md{margin-top: var(--pm-md)}
.m-t-lg{margin-top: var(--pm-lg)}
.m-t-xl{margin-top: var(--pm-xl)}

.m-h-sm{margin: 0px var(--pm-sm)}
.m-h-md{margin: 0px var(--pm-md)}
.m-h-lg{margin: 0px var(--pm-lg)}
.m-h-xl{margin: 0px var(--pm-xl)}

.m-sm{margin: var(--pm-sm)}
.m-md{margin: var(--pm-md)}
.m-lg{margin: var(--pm-lg)}
.m-xl{margin: var(--pm-xl)}

/* Padding */

.p-l-sm{padding-left: var(--pm-sm)}
.p-l-md{padding-left: var(--pm-md)}
.p-l-lg{padding-left: var(--pm-lg)}
.p-l-xl{padding-left: var(--pm-xl)}

.p-r-sm{padding-right: var(--pm-sm)}
.p-r-md{padding-right: var(--pm-md)}
.p-r-lg{padding-right: var(--pm-lg)}
.p-r-xl{padding-right: var(--pm-xl)}

.p-b-sm{padding-bottom: var(--pm-sm)}
.p-b-md{padding-bottom: var(--pm-md)}
.p-b-lg{padding-bottom: var(--pm-lg)}
.p-b-xl{padding-bottom: var(--pm-xl)}

.p-t-sm{padding-top: var(--pm-sm)}
.p-t-md{padding-top: var(--pm-md)}
.p-t-lg{padding-top: var(--pm-lg)}
.p-t-xl{padding-top: var(--pm-xl)}

.p-h-sm{padding: 0px var(--pm-sm)}
.p-h-md{padding: 0px var(--pm-md)}
.p-h-lg{padding: 0px var(--pm-lg)}
.p-h-xl{padding: 0px var(--pm-xl)}

.p-sm{padding: var(--pm-sm)}
.p-md{padding: var(--pm-md)}
.p-lg{padding: var(--pm-lg)}
.p-xl{padding: var(--pm-xl)}

.b-b-thin{border-bottom: 1px solid var(--c-second);}

.scroll{overflow-y: scroll;}

.lbl-ico{
    font-size: 50px; 
    color: var(--c-main);
    height: 1em;
}
.btn-hov{
    position: relative;
}
.btn-hov:active{transform: scale(0.98)}
.btn-hov::after{
    content: '';
    width: 0px;
    position: absolute;
    height: 1px;
    background-color: var(--c-main);
    bottom: 0;
    left: 0;
    transition: width .15s ease;
}
.btn-hov:hover::after{width: 100%;}
button{
    background-color: transparent;
    border: none;
    outline: none;
}
/* Removes Focus Outlines in Firefox */
button::-moz-focus-inner {
    border: 0;
  }

input{color: var(--c-second)}
